<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077951067987-m5kmudcqv0t5kfcq7iqr8gk12j7ou08n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077951067987-m5kmudcqv0t5kfcq7iqr8gk12j7ou08n</string>
	<key>API_KEY</key>
	<string>AIzaSyAxpDo2p3pMz5C1om9xe9NfOoMHETQkTLc</string>
	<key>GCM_SENDER_ID</key>
	<string>1077951067987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ChatWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatfirebase-8d152</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirebase-8d152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077951067987:ios:18fed02d731bf671</string>
	<key>DATABASE_URL</key>
	<string>https://chatfirebase-8d152.firebaseio.com</string>
</dict>
</plist>